<form id="frmHoraLab" method="post">
    <div class="mb-1">
        <label>Hora</label>
        <input type="text" class="form-control" id="txtHora" name="hora">
    </div>

    <input type="hidden" id="idHora" name="idHora">

    <div class="mb-1 text-end">
        <button type="submit" id="btnGuardarHora" class="btn btn-primary">Guardar</button>
    </div>
</form>

<div class="mb-3 input-group">
    <input type="text" class="form-control" id="txtBuscarHora" placeholder="Buscar hora">
    <button class="btn btn-secondary" id="btnBuscarHora" type="button">Buscar</button>
</div>

<div class="table-responsive">
    <table class="table table-sm">
        <thead class="table-active">
            <tr>
                <th>Id</th>
                <th>Hora</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="tbodyClientes"></tbody>
    </table>
</div>
